<ul class="right">
    <% if (currentUser) { %>
    <li>Welcome <%= currentUser.username %></li>
    <li><a href="/new">Add Book to Collection</a></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out"/>
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>