<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet" href="/main.css">
        <link rel = "icon" type="image/png" href="/book_icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>CBC</title>
    </head>
    <body>
          <%- include('./partials/nav.ejs')%>
        <h1>Community Collection of Books</h1>
        <ul>
            <% for(let i = 0; i < books.length; i++){ %>
            <div>
                <li>
                    <a href="/<%=books[i].id %>/book">Book Title: <%=books[i].title; %></a>
                </li>
            </div>
            <br>
            <% } %>
        </ul>
    </body>
</html>