<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    
        <title>CBC</title>
    </head>
    <body>
        <nav>
          <%- include('./partials/nav.ejs')%>
        </nav>
        <h1>Community Collection of Books</h1>
        <a href="/new">Add Book to Collection</a>
        <ul>
            <% for(let i = 0; i < books.length; i++){ %>
            <li>
                <a href="/<%=books[i].id %>/book">
                Book Title: <%=books[i].title; %>
            </li>
            <br>
            <% } %>
        </ul>
    </body>
</html>