<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Book Information</h1>
        <nav>
            Include Partial Here!
        </nav>
        Book Title: <%=books.title %>
        <br>
        Book Author: <%=books.author %>
        <br>
        Book Genre: <%=books.genre %>
        <br>
        <a href="/<%=books.id%>/edit">Edit Book Info</a>
        <nav>
            <a href="/">Back to Book Collection List</a>
        </nav>
    </body>
</html>