body, html {
    font-family: 'Gentium Book Basic', serif !important;
    height: 100%;
    margin: 0;
}

.log-in-heading {
    margin-bottom: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.log-in-container {
    background-image: url("/community-book-share.jpg");
    height: 100%;
}

.log-in-div {
    width: 400px;
    
}

h1 {
    font-family: 'Gentium Book Basic', serif !important;
    text-align: center;
    font-size: 60px !important;
}

ul {
    list-style-type: none;
}

.book-shelf {
    min-height: 700px;
    width: 100%;
    border: 10px solid rgb(109, 56, 21);
    display: flex;
}

.book-shelf-show {
    min-height: 700px;
    width: 100%;
    border: 10px solid rgb(109, 56, 21);
}

.book-shelf-new {
    min-height: 700px;
    width: 100%;
    border: 10px solid rgb(109, 56, 21);
}

.book-shelf-edit {
    min-height: 700px;
    width: 100%;
    border: 10px solid rgb(109, 56, 21);
}

.books {
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    
    text-align: center;
    padding: 10px;
    height: 350px;
    width: 150px;
    float: left;
    background-color: rgb(65, 167, 185);
    /* Box Shadow book effect - https://css-tricks.com/snippets/css/stack-of-paper/ */
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
}

.welcome {
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link{
    font-size: 20px;
}

.col-sm-4 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    }

@media only screen {

.log-in-div {
    width: 600px;
}



.books {
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    height: 350px;
    width: 200px;
    float: left;
    background-color: rgb(65, 167, 185);
    /* Box Shadow book effect - https://css-tricks.com/snippets/css/stack-of-paper/ */
    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
        0 10px 0 -5px #eee,
        /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
        /* The third layer */
        0 20px 0 -10px #eee,
        /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
        /* Padding for demo purposes */
        padding: 30px;
    }
}