<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="/main.css">
    <link rel = "icon" type="image/png" href="/book_icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
    <title>CBC</title>
</head>
<body class = "text-center" id="new-user-signup">
    <h1 class="bg-info log-in-heading">Community Collection of Books</h1>
    <h3 class="bg-warning log-in-heading">Invalid User, Try Again</h3>
    <div class="log-in-container">
        <div class="log-in-div col-md-8 offset-md-2">
            <form class="form-signin" action="/users" method="POST">
                <label for ="inputUsername" class="sr-only">Username</label>
                <input type="text" class ="form-control" name="username" placeholder="Username"/><br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password"/><br>
                <br>
                <input class ="btn btn-lg btn-primary" type="submit" value="Sign Up"/>
            </form>
        <a href="/sessions/new" class="btn btn-lg btn-primary">Back to Sign In Page</a>
        </div>
    </div>
</body>
</html>